* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
.welcome{
    background-image: url('http://irsfoundation.com/tf/templates/wedding/lovely-wedding/lovely-wedding/images/slider/slide-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-white-opacity{
    background-color: rgba(237, 242, 247,0.5);
}

.caption-welcome h3{
    font-size: $size-4rem;
    margin-bottom: $size-1rem;
    font-family: 'GreatVibes';
}

.caption-welcome p{
    font-size: $size-1rem;
    font-family: 'Dosis-Book';
}

.caption-welcome p b{
    font-family: 'Dosis-SemiBold';
}

ul.menu{
    li{
        font-family:"Dosis-SemiBold";
        font-size: $size-1rem;
        padding: 0 $size-1rem;
        a{
            text-decoration: $nodecoration;
        }
    }
}

.bg-black-opacity{
    background-color: rgba(0, 0, 0,0.3);
}

.box-caption-carousel{
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
}

.caption-banner{
    font-size: $size-4rem;
    font-family: 'GreatVibes';
}

.sub-caption{
    font-size: $size-2rem;
    font-family: "Dosis-Light";
    border-top:1px solid $cl_white ;
    border-bottom:1px solid $cl_white ;
}

.profile-img{
    background-image: url('http://irsfoundation.com/tf/templates/wedding/lovely-wedding/lovely-wedding/images/couple/img-1.jpg');
    background-size: cover;
    background-position: center center;
    visibility: visible;
    animation-name: fadeInLeftSlow;
    img {
        visibility: hidden;
        opacity: 0;
    }
}
.bg-green-light{
    background-color: $bg-green-light;
}
.detail-profile{
    h4{
        font-size: $size-2rem;
        font-family: "Dosis-Book";
        margin-bottom:$size-1rem;
    }
    p{
        font-family: "Dosis-Book";
        font-size:1.2rem;
        line-height: 2rem;
    }
}
.parallax{
    -webkit-perspective: 1px;
    perspective: 1px;
}
.caption-parallax{
    font-family: 'GreatVibes';
    color:$cl_white;
    span{
        font-size: $size-1_6rem;
    }
    h2{
        font-size: $size-4rem;
        p{
            line-height: normal;
        }
        
    }
}
.box-caption{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    top: 0;
    bottom:0;
    width: 100%;
    text-align: center;
    color: #000;
    -webkit-transform: translateZ(-1px);
    transform: translateZ(-1px);
}

.insideStyles{
    // background: #fff;
    padding: 20px;
    position: absolute;
    top: 25%;
    left: 0%;
    // transform: translate(-50%,-50%);
}
.row-min7{
    margin-left: -7.5px;
    margin-right: -7.5px;
}
.padding-set7{
    padding-left: 7.5px;
    padding-right: 7.5px;
}
.mt-min-16{
    margin-top: -16px;
}
.section-padding{
    padding:120px 0px;
}
.Countdown{
    .Countdown-col-element {
        background-color: #F0F0F0;
        border: 5px solid #D8D8D8;
        color:#5E9A8E;
        div{
            font-family: "Dosis-SemiBold";
            font-size: $size-2rem;
            line-height: normal;
        }
        span{
            font-family: "Dosis-Book";
            font-size: 0.77778rem;
        }
    }
}

.icon-swan{
    img{
        width: 100%;
        height: 65px;
        object-fit: contain;
    }
    .line-horizontal{
        height: 2px;
        width: 65px;
        background-color: #DFEBE8;
    }
    .line-vertikal{
        height: 45px;
        width:2px;
        background-color: #DFEBE8;
        // margin-top: -16px;
    }
}

.title-swan{
    background-color: $light-green;
    border-top:2px solid $light-green;
    border-bottom:2px solid $light-green;
    h2{
        text-transform: capitalize;
        letter-spacing: 3px;
        font-family: 'GreatVibes';
        color:$cl-gray;
        font-size: $size_2_5rem;
    }
}
.story-line{
    position: relative;
    &:after{
        content: "";
        background: rgba(94, 154, 142, 0.1);
        width: 2px;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 0;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .img-desc{
        img{display: inline-block;}
    }
    .row{
        .col-padding{
            &:first-child{
                padding: 0 45px 0 155px;
            }
            &:last-child{
                padding: 0 155px 0 45px;
            }
            &.text-desc{
                padding-top: $size-3rem;
                border-top: 1px solid $light-green;
            }
        }
    }
}
.padding-desc-left{
    padding-left:100px;
}
.padding-desc-left{
    padding-left:100px;
}
.img-responsive{
    max-width: 100%;
    height: auto;
}
.story-desc{
    h3{
        color:$green;
        font-size: $size-1_22rem;
        font-family: "Dosis-Book";
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .date{
        font-family: "Dosis-Book";
        color:$cl_semiblack;
        font-weight: 600;
        font-size: $font-14;
        margin-bottom: 10px;
    }
    p{
        font-family: "Dosis-Book";
        color:$cl-gray_desc;
        font-size: $size-1_2rem;
        line-height: $size-1_8em;
    }
}

.heart{
    background-color: #9cc2bb;
    width: 43px;
    height: 43px;
    line-height: 41px;
    text-align: center;
    border: 2px solid rgba(94, 154, 142, 0.5);
    position: absolute;
    left: -22px;
    top: -22px;
}