$font-70 :70px;

$font-50 :50px;

$font-30 :30px;

$font-26 :26px;

$font-16 :16px;

$font-14 :14px;

$font-13 :13px;

$font-12 :12px;

$size-6rem:6rem;

$size-5rem:5rem;

$size-4rem:4rem;

$size-3rem:3rem;
$size_2_5rem:2.55556rem;
$size-2rem:2rem;

$size-1rem:1rem;
$size-1_8em:1.8em;

$size-1_2rem:1.2rem;

$size-1_22rem:1.22rem;

$size-1_6rem:1.66rem;
$size-1_3rem:1.3rem;

$cl_white:#fff;
$green:#5e9a8e;
$bg-green-light:#F7FAF9;
$cl_green_gray:#a9a9a9;
$light-green:rgba(94, 154, 142, 0.1);
$cl-gray:#848383;
$cl-gray_desc:#767878;
$nodecoration:none;
$cl_semiblack:#333;
$cl_semiblack_type2:#3e3e3e;
// mixin
@mixin font-face($style-name, $file, $family, $category:"") {
    $filepath: "fonts/" + $family + "/" + $file;
    @font-face {
        font-family: "#{$style-name}";
        src:url($filepath + ".woff") format('woff'), 
        url($filepath + ".woff") format('woff2'), 
        // url($filepath + ".ttf")  format('truetype');
        
    }
    %#{$style-name} {
        font: {
            @if $category != "" {
                family: "#{$style-name}", #{$category};
            }
            @else {
                family: "#{$style-name}";
                weight: normal;
            }
        }
    }
}

@include font-face('Dosis-SemiBold', 'Dosis-SemiBold', '', 'serif');
@include font-face('Dosis-Book', 'Dosis-Book', '', 'serif');
@include font-face('Dosis-Medium', 'Dosis-Medium', '', 'serif');
@include font-face('Dosis-Bold', 'Dosis-Bold', '', 'serif');
@include font-face('Dosis-Light', 'Dosis-Light', '', 'serif');
@include font-face('GreatVibes', 'GreatVibes-Regular', '', 'serif');